.fundo{
    background-image: url('../img/aruba.png');
    background-size: cover;
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}